.header {
  display: flex;
  justify-content: flex-start;
  gap: 20%;
  background-color: #adadad;
  align-items: center;
}

.logo {
  max-width: 200px;
  max-height: 2500px;
}

.onglets {
  background-color: red;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e7e7e7;
  height: 5rem;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.telgrp {
  display: flex;
  gap: 0.5rem;
}

.mailgrp {
  display: flex;
  gap: 0.5rem;
}

.num {
  display: flex;
  align-items: center;
}

.mail {
  display: flex;
  align-items: center;
}

.tel {
  max-width: 45px;
  max-height: 30px;
}

.email {
  max-width: 45px;
  max-height: 30px;
}

.insta {
  max-width: 45px;
  max-height: 30px;
}

.fb {
  max-width: 45px;
  max-height: 30px;
}

.reseau {
  display: flex;
  gap: 1rem;
}
